---
layout: single
title: "Posts by Tag"
permalink: /tags/
author_profile: true
---

{{ content }}

{% assign tag_names = "" | split: "" %}

{% for tag in site.tags %}
  {% assign tag_names = tag_names | push: tag[0] %}
{% endfor %}

{% assign sorted_tag_names = tag_names | sort_natural %}

<h2>All Tags</h2>
<ul class="tag-list">
  {% for tag_name in sorted_tag_names %}
    <li>
      <a href="#{{ tag_name | inspect | slice: 1, -1 | url_encode | replace: '+', '%20' }}">
        {{ tag_name }} <span class="count">({{ site.tags[tag_name].size }})</span>
      </a>
    </li>
  {% endfor %}
</ul>

<h2>Posts by Tag</h2>
{% for tag_name in sorted_tag_names %}
  <section id="{{ tag_name | inspect | slice: 1, -1 | url_encode | replace: '+', '%20' }}">
    <h3>{{ tag_name }}</h3>
    <ul>
      {% for post in site.tags[tag_name] %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <small>({{ post.date | date: "%Y-%m-%d" }})</small>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
